p{
    color: orange;
}


main {
    display: flex;
    
}

section {
    width:auto;
    width: calc(100% - 400px);

}

aside {
    width: 400px;
    background-color:rgb(243, 243, 237);
    flex-grow: 1;

}

h2 {
    margin-bottom: 25px;
}

h1 {
    font-size: 32px;
 }

 button {
    background-color: orange;
    border: none;
    padding: 12px;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
 }

 button:hover {
    transform: scale(1.1);
 }

 @media(max-width : 1000px){

    section {
    width:auto;
    width: calc(100% - 250px);

    }

    aside {
    width: 250px;
    background-color:rgb(243, 243, 237);
    flex-grow: 1;

    }
}

 @media(max-width : 800px){

    section {
    width: 100%;

    }

    aside {
        width: none;
        display: none;
    }
}