.basket-side-layout {
    width: 400px;
    background-color:rgb(243, 243, 237);
    flex-grow: 1;
}

.basket {
    position: fixed;
    margin: 32px 32px;
    top:85px;
}

.basket-header {
    text-align: center;

}
.icon-basket {
    width: 55px
}
.empty-basket {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.basket-dishes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.dish-title {
    font-weight: bold;
}

.dish-price-basket {
    color: black;

}

.d_none {
    display: none;
}

.sum-of-dish {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;;
}

.dish-amount {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-basket{
    width: 30px;
    cursor: pointer;
}

.icon-basket:hover {
    transform: scale(1.1);
}

.basket-check-out {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 32px;
}

.basket-dish {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: orange;
    max-height: 50vh;
}

.rep-basket-overlay {
    position: absolute;
    top: 78px;
    width: 100%;
    height: 100%;
    background-color:rgb(243, 243, 237);
}

/* Responisve */

 @media(max-width : 800px){

    .basket-side-layout {
        width: none;
        display: none;
    }
}
