header {
    background-color: orange;
    height: 78px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    position: fixed;
}

footer {
    background-color: orange;
    height: 78px;
    bottom: 0;
    left: 0;
    width:100%;
    position: fixed;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 150px;
    object-fit: cover;
    margin-left: 64px;
    margin-top: 5px;
}

.legal {
    display: flex;
    gap: 15px;
    color: white;
}

.extra-padding-bottom{
    padding-bottom: 100px;
}

.legal-links {
    color: white;

}