.restaurant-img {
    object-fit: cover;
    height: 375px;
    width: 100%;
}

.restaurant-logo {
    border-radius: 100%;
    width: 150px;
    position: absolute;
    top: 325px;
    left: 35%;

}

.main-dish-div {
    background-color: rgb(243, 243, 237);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 32px 10px;
    gap: 15px;
    margin-bottom: 32px;
}

.main-dish-div:hover {
    background-color: rgb(240, 223, 182);
}

.dish-price {
    color: orange;
    font-weight: bold;
}

.ratings {
    color: orange;
    margin-bottom: 32px;
}

.icon {
    float: right;
    width: 55px;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
}

.restaurant-info, .restaurant-menus {
    margin: 64px 32px;
}

.main-dish {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dish-section-header{
    object-fit: cover;
    height: 175px;
    width: 100%;
    margin-bottom: 32px;
}

.menu-bar {
    height: 64px;
    border-radius: 50px;
    background-color: rgb(243, 243, 237);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 32px;
    margin-right: 32px;
}

.section-links{
    color: orange;
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
}

/* Responsive */

@media(max-width : 1000px){

.restaurant-logo {
    border-radius: 100%;
    width: 125px;
}
}

@media(max-width : 800px){
    
    .restaurant-logo {
        border-radius: 100%;
        width: 75px;
        top: 290px;
        left: 32px;

    }
}

@media(max-width : 600px){


    .menu-bar {
        display: none;
}

}

@media(max-width : 500px){


    .icon{
    width: 38px;

}

}

@media(max-width : 400px){


    .icon{
    width: 25px;

}

}


