.restaurant-img {
    object-fit: cover;
    height: 375px;
    width: 100%;
}

.restaurant-logo {
    border-radius: 100%;
    width: 150px;
    position: absolute;
    top: 325px;
    left: 35%;

}

.main-course-div {
    background-color: rgb(243, 243, 237);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 32px 10px;
    gap: 15px;
    margin-bottom: 32px;
}

.course-price {
    color: orange;
    font-weight: bold;
}

.ratings {
    color: orange;
    margin-bottom: 32px;
}

.icon {
    float: right;
    width: 55px;
}

.restaurant-info, .restaurant-menus {
    margin: 64px 32px;
}

.main-dish {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dish-section-header{
    object-fit: cover;
    height: 175px;
    width: 100%;
    margin-bottom: 32px;
}
